* {
    margin:0;
    padding: 0;
}

body{
     background-image: url(sample3.jpg);
     background-position:top;
    background-size: cover;
     background-repeat: no-repeat;
 }
nav{
    width: 100%;
    height: 60px;
    background-color: lightblue;
    
}


nav ul{
    margin-bottom: 50px; 
     float:left;    
    position: relative;
    top: -10px;
    left: 550px;
}
nav ul li{
    float: center;
    list-style: none;
    position: relative;
    
    
}

nav ul li{
    float:left;
    list-style: none;
    position: relative;
    
}
nav ul li a{
    display: block;
    font-family: arial;
    color: #222;
    font-size: 14px;
    padding:  21px 14px;
    text-decoration: none;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    top:60px;
    left:50px;
    padding:25px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul {
    display: block;
}
nav ul li ul li{
    
    width: 180px;
    border-radius: 4px;
}
nav ul li ul li a{
    padding: 10px  14px;
}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
}


.gallery img{
    position: relative;
    top:10px;
    left: 910px;
    
    filter:grayscale(100%);
    transition: 1s;
}
.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


.gallery1 img{
   position: absolute;
    bottom: 40px;
    left: 15px;
    filter:grayscale(100%);
    transition: 1s;
}
.gallery1 img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.evernote{
    margin: 50px 10px;
}
.evernote img{
    padding: 14px 5px;
    position: absolute;
    top: 60px;
  left: 10px;
    filter:grayscale(100%);
    transition: 1s;
}
.evernote img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
.code img{
    padding: 14px 5px;
    position: absolute;
    bottom: 10px;
  right: 25px;
    filter:grayscale(100%);
    transition: 1s;
}
.code img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
.git img{
    position: relative;
    top: 10px;
    left: 15px;
    
    filter:grayscale(100%);
    transition: 1s;
}
.git img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
.repl img{
    position: relative;
    bottom: 115px;
    left: 1085px;
    
    filter: grayscale(100%);
    transition: 1s;
    
}
.repl img:hover{
    filter: grayscale(0);
    transform:scale(1.1)
}